:root {
  --body-color: #0a0f12;
  --navheader-color: rgb(33, 37, 41, 0.5);
  --footer-color: #191f28;
  --font-color: #ffffff;
  --sub-font-color: #6b7684;
  --third-font-color: #b0b8c1;
  --fourth-font-color: #000000;
  --tag-color: #d6d9d7;
  --tag-font-color: #666666;
  --login-font-color: #dee2e6;
  --map-color: #f1f5f2;
  --sub-map-color: #dbe9f1;

  --green-color: #95c811;
  --pink-color: #ff32ff;
  --sky-color: #19c9ff;
  --orange-color: #e67301;
  --purple-color: #684fff;
  --yellow-color: #ffcd01;
  --red-color: #f15d4c;
}

body {
  background-color: var(--body-color);
  font-family: 'Pretendard', sans-serif;
  color: var(--font-color);
}
