:root {
  --body-color: #0a0f12;
  --navheader-color: rgb(33, 37, 41, 0.5);
  --footer-color: #191f28;
  --font-color: #ffffff;
  --sub-font-color: #6b7684;
  --third-font-color: #b0b8c1;
  --fourth-font-color: #000000;
  --tag-color: #eeeeee;
  --tag-font-color: #666666;
  --login-font-color: #dee2e6;
  --map-color: #f1f5f2;
  --sub-map-color: #dbe9f1;
  --shadow-color: rgba(0, 0, 0, 0.09);
  --minus-button-color: #e51258;

  --green-color: #95c811;
  --pink-color: #ff32ff;
  --sky-color: #19c9ff;
  --orange-color: #e67301;
  --purple-color: #684fff;
  --yellow-color: #ffcd01;
  --red-color: #f15d4c;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: var(--body-color);
  font-family: 'Pretendard', sans-serif;
  color: var(--font-color);
}

input, button, label {
  font-family: 'Pretendard', sans-serif;
}

/* infowindow에 적용할 CSS */
.infowindow-wrap {
  width: 250px;
  height: 110px;
  line-height: 1.5;
  text-align: left;
  overflow: hidden;
}

.infowindow-title {
  height: 30px;
  padding: 5px;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  background-color: var(--sky-color);
}

.infowindow-body {
  height: 60px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.infowindow-address {
  font-size: 12px;
  font-weight: 400;
}

.infowindow-category {
  font-size: 10px;
  font-weight: 200;
}

.infowindow-placeUrl {
  font-size: 10px;
  font-weight: 200;
  text-decoration: underline;
}
